<!DOCTYPE html>
<html>
<head>
    <title> Library </title>
</head>
<body>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <h2>Bennett</h2>
            <p><a href="">Hours Of Operation</a></p>
        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>Belzberg</h2>
            <p><a href="">Hours Of Operation</a></p>
        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>Fraser</h2>
            <p><a href="">Hours Of Operation</a></p>
        </div>
    </div>
</body>
</html>